/* General App Styles */
.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


body.modal-open {
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
}


/* Sidebar Styles */
.sidebar {
  width: 250px;
  background: #0a083b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar button {
  background: none;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover {
  background: #444;
}

/* Content Area */
.content {
  flex: 1;
  padding: 20px;
}

/* Button Styles */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}


button:hover {
  background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}











/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
